.byteam {
    display: grid;
    grid-template-columns: repeat(2, 10fr);
    grid-gap: 40px;
    justify-items: center;
    align-items: baseline;
    justify-content: center;
    align-content: center;
    margin: auto;
    margin-left: 10PX;
    margin-right: 10px;
}

.team-member {
    display: flex;
    flex-direction:space-between;
    margin-bottom: 4.47%;
    border-radius: 5px;
    background-color: #d9d9d9cc;
    box-shadow: 0 4px 5px 0 #5c5c5ccc;
    cursor: pointer;
}



.team-member:last-child {
    margin-left: auto;
    margin-right: auto;
    grid-column: span 2;
   
}


.team-member img {
    width: 20%;
    border-radius: 40px;
    height: auto;
    padding: 7px;
}




.member-image {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.member-info {
    margin-top: 10px;
}


