h1 {
    font-size: 4em;
    font-weight: 100;
    width: 90%;
    margin: 0;
    padding-left: 15%;
    padding-top: 40%;
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 750px;
}

.imgintro {
    width: auto;
    height: 55rem;
}

.fondingredient {
    margin: 0% 5% 0% 5%;
    padding: 0;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(203, 203, 203);
}

h2 {
    font-size: 2em;
    text-align: center;
    font-weight: 100;
    padding-top: 2em;
}

.btningredient {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 2%;
}

#meet {
    width: 14rem;
    height: 14rem;
    padding-top: 20px;
}

#meet:hover {
    cursor: pointer;
    transform: scale(1.5);
}

#salad {
    width: 14rem;
    height: 14rem;
}

#salad:hover {
    cursor: pointer;
    transform: scale(1.5);
}

#fish {
    width: 14em;
    height: 14em;
    padding-top: 20px;
}

#fish:hover {
    cursor: pointer;
    transform: scale(1.5);
}

#avocado {
    padding-top: 40px;
    width: 7rem;
    height: 10rem;
}

#avocado:hover {
    cursor: pointer;
    transform: scale(1.5);
}


/*Pour Ipad*/

@media screen and (max-width:900px) {

    h1 {
        font-size: 2em;
        padding-left: 20%;
    }

    section {
        height: 200px;
    }

    .imgintro {
        width: 25em;
        height: auto;
    }

    .fondingredient {
        margin-top: 20%;
    }

    #meet {
        width: 5rem;
        height: 5rem;
        padding-top: 10px;
    }

    #salad {
        width: 5rem;
        height: 5rem;
    }

    #fish {
        width: 5rem;
        height: 5rem;
        padding-top: 10px;
    }

    #avocado {
        width: 3rem;
        height: 4rem;
        padding-top: 10px;
    }

    h2 {
        font-size: 1em;
        text-align: center;
        font-weight: 100;
        padding-top: 2em;
    }
}

/*Pour Tel*/

@media screen and (max-width:500px) {

    h1 {
        display: none;
    }

    section {
        display: grid;
        grid-template-columns: 1fr;
        height: 300px;
    }

    .imgintro {
        width: 25em;
        height: auto;
        top: 7%;
        left: 45%;
    }
}