/* CSS Commun ne pas modifier */

@import url('https://fonts.googleapis.com/css2?family=Kurale&display=swap');

:root {
    --primaryColor: #E4D8FE;
    --body: ;


    --HeadingXL: 4rem 'Kurale', sans-serif;
    --HeadingL: 2.5rem 'Kurale', sans-serif;
    --HeadingM: 2rem 'Kurale', sans-serif;
    --HeadingS: 1.5rem 'Kurale', sans-serif;

    --p: 1.25rem 'Kurale', sans-serif;
    --pMobile: 1rem 'Kurale', sans-serif;
    --Footer: #0F334D 1.25rem 'Kurale', sans-serif;

    --shadow: 0px 11px 38px 12px
}


* {
    font-family: 'Kurale', serif;
}

html {
    background-color: var(--primaryColor);
    padding: 5%;
}

body {
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 50%, rgba(249, 245, 255, 1) 50%);
    margin: auto;
    min-height: 200vh;
}

button {
    background-color: #4F03AB;
    border: solid 1px #4F03AB;
    color: white;
    border-radius: 10px;
    height: 62px;
    width: 193px;
    text-align: center;
}

button:hover {
    background-color: white;
    color: #4F03AB;
    cursor: pointer;
}

/* Fin Css Commun*/

/*commence le footer*/
body {
    display: flex;
    flex-direction: column;
    
}

.page-footer {
    background-color: #E4D8FE;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}

.page-footer_team {
    font-weight: 700;
    font-size: medium;
    background-color: #E4D8FE;
    font-family: 'Kurale', serif;
    color: #0F334D ;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 0 auto;
    transition: all 0.5s;
    position: relative;
}

.social {
    display: flex;
}


.social a {
    margin-right: 10px;
    display: inline-block;

}

.social a img {
    width: 30px;
    height: 30px;
    border-radius: 50%;

}




.page-footer_team:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    transition: all 0.3s;
}

.page-footer_team:before {
    opacity: 0;
    transform: scale(0.5, 0.5);
}

.page-footer_team:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid rgba(9, 9, 9, 0.5);
    transform: scale(1.2, 1.2);
}

.page-footer_team:hover::after {

    opacity: 1;
    transform: scale(1, 1);
}

.page-footer_team:hover {

    background-color: #bca8e8;
}

.social a img:hover {

    transition: all 0.3s;
    opacity: 0.5;

}