#programmes{
    display: flex;
    justify-content: center;
    text-align: center;
    list-style: none;
}

div a {
    display : inline-block;
    text-decoration: none;
    color: black;
    justify-content: center;
    margin: 0;
}

.list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: white;
    margin-left: 50px;
    margin-right: 50px;
}

a{
    padding-right: 10px;
    padding-left: 10px;
}

.text{
    text-align: center;
    font-size: 22px;
}

.seance-maison{
    display: inline-block; */
    text-align: center;
    text-orientation: column;
    padding-top: 20px;
}

.En-salle{
    display: inline-block;
    text-align: center;
    text-orientation: column;
    justify-content:end;
    padding-top: 20px;
}

.seances{
    display: flex;
    justify-content: space-around;
    text-align: center;
}


@media screen and (max-width:650px){
    .seances{flex-wrap: wrap;}
    .choixLieux{width:50%, heigth:50%}
}

@media screen and (max-width:500px){
    .list{flex-direction: column;}
}

.pop-up{
    display: flex;
    justify-content: center;
    padding-top: 10%;
}

.sous-menu{
    background-color:#E4D8FE;
    border-radius: 10px;
    padding-top: 10px;
}
